# JWT 설정
JWT_SECRET=your_jwt_secret_key_here

# 카카오 API 설정
KAKAO_CLIENT_ID=your_kakao_client_id_here
KAKAO_CLIENT_SECRET=your_kakao_client_secret_here

# 리디렉트 URI 설정
KAKAO_REDIRECT_URI=http://localhost:3000/auth/kakao/callback
KAKAO_ANDROID_REDIRECT_URI=kakao17c60462c6fff4b87a4223e3038abf4e://oauth

# 서버 설정
PORT=3000
NODE_ENV=development 